body{
    color:cadetblue;
    background:black;
    margin: 0px;
    font-family: "DynaPuff", system-ui;
}
header{
    border-bottom: solid 2px rgb(133, 225, 255);
    padding-bottom: 20px;
      font-size: 32px;
      color: cadetblue;
}

section {
    background: lightblue;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
   margin-right: 5%;
}